body{
    background-color: rgb(0, 0, 0);
}

#header{
    text-align: center;
    background-image: url("img3.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}

#botao{
    float: right;
}

#meio{
    background-color: white;
}

#txtb1{
    width: 33%;
display: inline-block;
vertical-align: top;
}

#txtb2{
    width: 33%;
    display: inline-block;
    vertical-align: top;
    float: center;
}

#txtb3{
    width: 33%;
    display: inline-block;
    vertical-align: top;
    float: right;
}

#img1{
    width: 50%;
    display: inline-block;
    vertical-align: top;
}

#txtb4{
    width: 40%;
    display: inline-block;
    vertical-align: top;
    float: right;
}

#txtb5{
    width: 40%;
    display: inline-block;
    vertical-align: top;
    float: left;
}

#img2{
    width: 50%;
    display: inline-block;
    vertical-align: top;
    float: right;
}

footer{
    text-align: center;
    font-size: 30px;
    background-color: blue;
}

p{
    text-align: center;
    font-size: 20px;
}

#rodape{
    font-size: 30px;
}